/* --- General --- */
@font-face {
    font-family: Abraham-Regular;
    src: url('fonts/Abraham-Regular.woff') format('woff')
}

* {
  box-sizing: border-box;
}

body {
    background-color: #B1453B;
    max-width: 100%;
    overflow-x: hidden;
}

#page-container {
}

/* --- Header --- */
#header-container{
    text-align: center;
    padding: 20px;
}

#header-text {
    font-family: 'Abraham-Regular';
    font-size: 12.5vw;
    color: #F0DA74;
    position: relative;
    text-align: center;
    display: block;
    /* text-shadow: 3px 3px #D6A616; */
    text-shadow: 3px 3px 2px black;
}

@media screen and (min-width: 1200px) {
    #header-text  {
       font-size: 10em;
    }
}

/* --- Main Content --- */
#game {
    position: relative;
    width: 500px;
    height: 500px;
    position: relative;
    display: block;
    margin: auto;
  
}

#game > div {
    position: absolute;
    width: inherit;
    height: inherit;
}

#mooshi-container > img {
    position: absolute;
    width: inherit;
    height: inherit;
}

#buttons-container > input {
    position: absolute;
    height: 60px;
}

#btn-next-head {
    top: 140px;
    right: 60px;
}

#btn-prev-head {
    top: 140px;
    left: 55px;
    transform: scaleX(-1);
}

#btn-next-body {
    top: 280px;
    right: 20px
}

#btn-prev-body {
    top: 280px;
    left: 15px;
    transform: scaleX(-1);
}

#game-bg {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: -1;
    box-sizing: border-box
}

#game-bg > img {
    position: absolute;
    overflow: auto;
    top: -215px;
    right: -720px;
    opacity: 0.08;

}


#oval {
    position: absolute;
    width: 500px;
    height: 84px;
    background: #D68D87;
    border-radius: 5000px / 1000px;
    bottom: 50px;
    box-shadow: 0px 10px #914039;
}

/* --- Footer --- */
#footer-container{
    text-align: center;
    padding: 80px;
}

#footer-container #logo{
    padding: 20px;
}

#footer-text{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}