@font-face {
    font-family: Abraham-Regular;
    src: url('fonts/Abraham-Regular.woff') format('woff')
}

body {
    background: #b1453b;
}

#title {
    font-family: 'Abraham-Regular';
    direction: rtl;
    text-align: center;
    font-size: 6em;
    /* letter-spacing: 2px; */
    color: #F0DA74;
    box-sizing: border-box;
    text-shadow: 3px 3px 0px #2b1d00;
    margin: 0px;
    margin-top: 20px
    
}

#game-container {
    display: flex;
    justify-content: center;
}

#game {
    position: absolute;
    width: 50em;
    height: 50em;
    margin-top: -1em;
}

#game > div {
    position: absolute;
    width: inherit;
    height: inherit;
}

#mooshi-container > img {
    position: absolute;
    width: inherit;
    height: inherit;
}

#buttons-container > input {
    position: absolute;
    height: 6em;
    font-size: inherit;
}

#btn-next-head {
    top: 14em;
    right: 10em;
}

#btn-prev-head {
    top: 14em;
    left: 8.5em;
    transform: scaleX(-1);
}

#btn-next-body {
    top: 28em;
    right: 5em;
}

#btn-prev-body {
    top: 28em;
    left: 4em;
    transform: scaleX(-1);
}